services:
  db:
    image: pgvector/pgvector:pg17
    environment:
      POSTGRES_USER: happy_scribe
      POSTGRES_PASSWORD: happy_scribe
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
