<div id="<%= dom_id chat %>">
  <div class="flex items-center justify-between px-5 py-4">
    <div class="min-w-0 flex-1">
      <p class="text-sm font-medium text-gray-900"><%= chat.model&.name || "Default" %></p>
      <p class="text-xs text-gray-500 mt-0.5"><%= chat.messages.count %> messages &middot; <%= formatted_datetime(chat.created_at) %></p>
    </div>
  </div>
</div>
